<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<div class="container">
    <h2>Forget Password : BSL</h2>
    <form>
      <div class="form-group">
        <label>Enter email:</label>
        <input type="mail" class="form-control" name="submitted_mail" [(ngModel)]="submitted_mail">
      </div>
    </form>
    <button (click)="startForgetPasswordProcess()">Register</button> 
  </div>