img{
    width: 100%;
}

.leftSideBSLImage{
    margin-top: 50px;
}

.rightSideConent{
    background-color: bisque;
}

.bodyCenter {
    margin-top: 100px;
    width: 70%;
    background-color: aquamarine;
}